.feedback {
  color: $color-default-white;
  min-height: 670px;
  padding: 90px 40px;
  background: $color-deep-sky-blue;

  @media (max-width: $tablet-width) {
    padding-top: 80px;
    background: none;
    background-color: $color-deep-sky-blue;
    padding-bottom: 103px;
    min-height: 664px;
  }

  @media (max-width: $mobile-width) {
    padding: 30px 0 40px 0;
    min-height: 640px;
  }
}

.feedback h2 {
  font-size: 36px;
  line-height: 50px;
  font-weight: 400;
  margin-top: 0px;
  font-family: $ff-roboto;
  margin-left: -4px;
  margin-bottom: 14px;

  @media (max-width: $tablet-width) {
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 18px;
  }

  @media (max-width: $mobile-width) {
    font-size: 28px;
    line-height: 39.38px;
    margin-bottom: 15px;
    margin-left: -1px;
  }
}

.feedback p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-family: $ff-PTmono;
  margin: 0;
  margin-bottom: 53px;

  @media (max-width: $tablet-width) {
    margin-bottom: 56px;
  }

  @media (max-width: $mobile-width) {
    line-height: 21.5px;
    margin-bottom: 25px;
  }
}

.feedback__wrapper {
  display: flex;
  flex-direction: row;
  max-width: 1230px;
  padding-left: 5px;
  padding-right: 15px;
  margin: 0 auto;
  position: relative;

  &::before {
    position: absolute;
    display: block;
    content: "";
    top: -150px;
    right: 58%;
    width: 686px;
    height: 764px;
    background: url("../img/feedback-triangles.svg") no-repeat;
    background-size: cover;

    @media (max-width: $tablet-width) {
      display: none;
    }
  }

  @media (max-width: $tablet-width) {
    margin-left: 0;
    margin-right: 0;
    padding-left: 27px;
    max-width: none;
    padding-right: 22px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 16px;
    display: block;
  }
}

.feedback img {
  padding-top: 70px;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.feedback__form {
  margin-left: auto;
  max-width: 570px;
  margin-right: 15px;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $tablet-width) {
    margin: 0 auto;
    max-width: none;
    padding-left: 25px;
    padding-right: 25px;
  }

  @media (max-width: $mobile-width) {
    padding: 0;
    margin: 0;
  }
}

.feedback input {
  height: 50px;
  margin-bottom: 39px;

  @media (max-width: $mobile-width) {
    margin-bottom: 31px;
  }
}

.feedback input[type="tel"] {
  width: 47%;
  @media(max-width: $mobile-width) {
    width: 100%;
  }
}

.feedback input[type="text"] {
  width: 47.37%;
  margin-right: 21px;
  @media(max-width: $mobile-width) {
    width: 100%;
  }
}

.feedback input,
.feedback textarea {
  background-color: rgba($color-default-white, 0.1);
  border: 0;
  color: $color-default-white;
  margin-bottom: 39px;
  padding: 12px 16px 17px;
  font-weight: 400;
  font-family: $ff-PTmono;
  font-size: 16px;
  line-height: 22px;
  border-radius: 0;

  @media (max-width: $tablet-width) {
    margin-bottom: 39px;
  }

  &::placeholder {
    color: $color-default-white;
  }

  &:hover,
  &:focus {
    outline: 2px solid $color-default-white;
  }
}

.feedback textarea {
  min-height: 154px;
  width: 100%;
  margin-bottom: 31px;
  resize: none;

  @media (max-width: $tablet-width) {
    min-height: 159px;
  }

  @media (max-width: $mobile-width) {
    min-height: 104px;
    margin-bottom: 26px;
  }
}

.feedback [type="checkbox"] + label {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 3px 0 0 40px;
  color: $color-default-white;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  opacity: 0.8;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  @media (max-width: $mobile-width) {
    padding-left: 33px;
  }
}

.feedback [type="checkbox"] + label::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 8px;
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid $color-default-white;
  @media (max-width: $mobile-width) {
    top: 2px;
    left: -1px;
  }
}

.feedback [type="checkbox"]:focus + label::before {
  outline: 2px solid $color-default-white;
}

.feedback [type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 12px;
  width: 8px;
  height: 5px;
  background: url("../img/check.svg") center no-repeat transparent;
  @media (max-width: $mobile-width) {
    top: 7px;
    left: 3px;
  }
}

.feedback__submit button {
  position: relative;
  min-width: 270px;
  display: block;
  font-family: $ff-roboto;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: .05em;
  color: $color-default-white;
  background-color: transparent;
  border: 1px solid $color-default-white;
  padding: 14px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  margin-right: 30px;

  &:hover {
    background: $color-default-white;
    color: $color-deep-sky-blue;
    border: 1px solid transparent;
  }

  @media (max-width: $tablet-width) {
    min-width: 281px;
    margin-right: 31px;
  }

  @media (max-width: $mobile-width) {
    margin-right: 0;
    margin-bottom: 30px;
    min-width: 288px;
  }
}

.feedback__submit {
  display: flex;
  margin-top: 5px;
  align-items: center;
  flex-direction: row;

  @media (max-width: $tablet-width) {
    margin-top: 3px;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    margin-top: -2px;
  }
}

.feedback__submit button {
  flex-grow: 1;
}

