.logo {
  display: flex;
  align-items: center;
}

.logo svg {
  margin-right: 16px;

  @media (max-width: $mobile-width) {
    height: 38px;
    width: 38px;
  }
}

.logo p {
  color: $color-default-white;
  font-family: $ff-roboto;
  font-size: 25px;
  line-height: 29.3px;
  font-weight: 700;
  margin: 6px 0 0 0;

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.logo small {
  color: $color-regent-grey;
  font-family: $ff-roboto;
  font-size: 12px;
  line-height: 14.06px;
  font-weight: 500;
  letter-spacing: 0.9px;

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.logo-text {
  display: flex;
}
