.modal {
  position: fixed;
  top: 38.4%;
  left: 50%;
  width: 490px;
  transform: translate(-50%, -50%);
  z-index: 30;
  padding: 18px 39px;
  margin-top: 17px;
  height: 605px;
  overflow-y: scroll;

  color: $color-default-white;
  background: $color-deep-sky-blue;

  @media (max-height: 605px) {
    height: 100%;
  }

  @media (max-width: $tablet-width) {
    padding: 20px;
    width: 90%;
    min-width: 320px;
  }

  &--closed {
    display: none;
  }
}

.modal h2 {
  font-family: $ff-roboto;
  font-size: 28px;
  font-weight: 400;
  margin-top: 14px;
  line-height: 140.62%;
  margin-left: 0;
  margin-bottom: 12px;

  @media (max-width: $tablet-width) {
    margin-bottom: 18px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 15px;
    margin-left: -1px;
  }
}

.modal p {
  font-size: 16px;
  font-weight: 400;
  font-family: $ff-PTmono;
  margin: 0 0 33px;
  line-height: 22px;
  max-width: 400px;

  @media (max-width: $mobile-width) {
    line-height: 21.5px;
    margin-bottom: 25px;
  }
}

.modal form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  flex-direction: column;
}

.modal__button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  background: url("../img/close.svg") top right no-repeat transparent;
  border: 0;
  cursor: pointer;
  font-size: 0;

  &:hover,
  &:focus {
    border: 1px solid $color-default-white;
  }
}

.modal input [type="tel"],
.modal input [type="text"] {
  height: 50px;
  width: 100%;
  margin-bottom: 31px;
}

.modal input,
.modal textarea {
  width: 100%;
  background-color: rgba($color-default-white, 0.1);
  border: 0;
  color: $color-default-white;
  margin-bottom: 31px;
  padding: 12px 24px 17px;
  font-weight: 400;
  font-family: $ff-PTmono;
  font-size: 16px;
  line-height: 22px;
  border-radius: 0;

  @media (max-width: $tablet-width) {
    margin-bottom: 44px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 34px;
  }

  &::placeholder {
    color: $color-default-white;
  }

  &:hover,
  &:focus {
    outline: 2px solid $color-default-white;
  }
}

.modal textarea {
  min-height: 104px;
  width: 100%;
  margin-bottom: 25px;
  resize: none;

  @media (max-width: $tablet-width) {
    min-height: 159px;
  }

  @media (max-width: $mobile-width) {
    min-height: 104px;
    margin-bottom: 32px;
  }
}

.modal [type="checkbox"] + label {
  order: 10;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: $color-default-white;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  opacity: 0.8;
  padding-left: 50px;
  max-width: 410px;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  @media (max-width: $mobile-width) {
    padding-left: 33px;
  }
}

.modal [type="checkbox"] + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -2px;
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid $color-default-white;
}

.modal [type="checkbox"]:focus + label::before {
  outline: 2px solid $color-default-white;
}

.modal [type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 2px;
  width: 8px;
  height: 5px;
  background: url("../img/check.svg") center no-repeat transparent;
}

.modal__submit button {
  order: 9;
  position: relative;
  min-width: 270px;
  display: block;
  width: 100%;
  font-family: $ff-roboto;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: $color-default-white;
  background-color: transparent;
  border: 1px solid $color-default-white;
  padding: 14px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  margin-bottom: 33px;
  margin-right: 0;
  margin-left: 0;

  &:hover {
    background: $color-default-white;
    color: $color-deep-sky-blue;
    border: 1px solid transparent;
  }
}

.modal__submit {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5px;

  @media (max-width: $tablet-width) {
    margin-top: 3px;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    margin-top: -2px;
  }
}

.modal .form__submit {
  flex-direction: column;
}
